@media only screen and (max-width:942px) { 
    .title { 
        /* padding-top: 18% !important; */
        row-gap: 35px;
    }

    .title-box {
        row-gap: 30px;
        flex-direction: column;
    }

    .title-first-half {
        width: 100%;
    }

    .title-first-half-big-text {
        font-size: 28px !important;
    }

    .title-second-half {
        width: 100%;
    }

    .title-second-half-img img {
        width: 100%;
    }

    .title-small-text {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 835px) {
    .container {
        flex-wrap: wrap;
        row-gap: 75px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-brand {
        margin-left: 3px !important;
    }

    .li-cont {
        margin-left: 6px !important;
    }

    .offi {
        border-top: 0.1px solid #686868 !important;
    }
}