@media only screen and (max-width:942px) { 
    .title { 
        padding-top: 18% !important;
        row-gap: 35px;
    }

    .title-box {
        row-gap: 30px;
        flex-direction: column;
    }

    .title-first-half {
        width: 100%;
    }

    .title-first-half-big-text {
        font-size: 23px;
    }

    .title-second-half {
        width: 100%;
    }

    .title-second-half-img img {
        width: 100%;
    }

    .title-small-text {
        font-size: 12px;
    }
}