html{
    scroll-behavior: smooth !important;
}

.navbar-nav {
    margin-left: auto;
    column-gap: 27px !important;
}

.navbar {
    background-color: transparent;
    position: fixed !important;
    width: 100% !important;
    box-shadow: none;
    transition: all 0.15s ease-in-out !important;
}

.navbar-nav li a{
    color: white;
    font-size: 20px;
    font-family: ui-serif;
    font-weight: 500;
}

.offcials {
    color: white !important;
    font-size: 20px !important;
    font-family: ui-serif !important;
    font-weight: 500 !important;
}

.offcials:hover {
    color: rgba(0, 0, 0, 0.7) !important;
}

.burger {
    background-color: rgb(165 168 172) !important;
    box-shadow: black 0px 2px 9px 0px !important;
}
